*               text=auto
*.c             text eol=lf
*.h             text eol=lf 
*.cpp           text eol=lf
*.vcproj        text eol=lf
*.py            text eol=lf 
*.md            text eol=lf
*.java          text eol=lf
*.cs            text eol=lf
*.csproj        text eol=lf
*.sh            text eol=lf
*.def           text eol=lf
